<div class="wrapper">
  <h1>
    Thank you.
  </h1>

  <p>That's it, all done.</p>
  <p>You've helped us to make GOV.UK simpler, clearer and faster.</p>
  <% if @next_copy_test %>
    <p>We have lots more experiments, so if you have the time, <%= link_to "please do another one", copy_test_path(@next_copy_test) %>.
  <% end %>
</div>