<div class="wrapper">
	<% breadcrumb :root %>
	<h1>Tests</h1>

	<ul>
	  <% @copy_tests.each do |copy_test| %>
	    <li><%= link_to copy_test.name, admin_copy_test_path(copy_test) %> <%= link_to "results", results_admin_copy_test_path(copy_test) %></li>
	  <% end %>
	</ul>
	<%= link_to "New Test", new_admin_copy_test_path %>
</div>
