<% breadcrumb :root %>
<div class="wrapper">
	<%= form_for [:admin, @copy_test] do |copy_test_form| %>
	  <%= copy_test_form.label :name %>
    <%= copy_test_form.text_field :name %>
	  <%= copy_test_form.submit "Create Copy Test" %>
	<% end %>
</div>